* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

:root {
    --color-bg: hsl(47, 88%, 63%);
    --color-card: hsl(0, 0%, 100%);
    --color-text: hsl(0, 0%, 42%);
    --color-shadow: hsl(0, 0%, 7%);
    --color-yellow: hsl(47, 88%, 63%);
    --color-title: hsl(0, 0%, 7%);
}

body {
    background-color: var(--color-bg);
    font-family: "figtree", sans-serif;
    min-height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.container-1 {
    width: 336px;
}

article {
    background-color: var(--color-card);
    max-width: 384px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 10px 2px var(--color-shadow);
    border: 1px solid black;
}

.images {
    width: 100%;
    border-radius: 10px;
}

.box {
    background-color: var(--color-yellow);
    padding: 10px;
    margin-top: 18px;
    width: 82px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

span {
    font-weight: 900;
    font-size: 16px;
    color: var(--color-title);
}

h1 {
    font-size: 23px;
    font-weight: 950;
    margin: 0;
    color: var(--color-title);
}

p {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text);
}

p.date {
    color: var(--color-title);
}

.profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 145px;
    gap: 12px;
}

.logo {
    width: 32px;
    height: 32px;
    margin: 0;

}

.profil>p {
    color: var(--color-title);
    font-weight: 950;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-top: 15px;
}


.attribution a {
    color: hsl(228, 45%, 44%);
}

h1:hover {
    color: var(--color-yellow);
}

h1:focus {
    color: var(--color-yellow);
}